<div id="clearance" class="sign-in">
  <br /><br />
  <div class="card">
    <div class="container">
      <br />
  <h2><%= t('.title') %></h2>
  <br />
      <%= render 'sessions/form' %>
      </div>
    </div>
</div>
