<p><%= t('.opening') %></p>
<p><%= link_to t('.link_text', default: "Confirm Sign Up"), confirm_email_url(token: @user.confirmation_token) %></p>
<p><%= t('user_mailer.sign_up_confirmation.closing_html') %></p>
