<div class="container">
  <h4><%= link_to t('job.shared.back'), jobs_path %></h4>
  <h2><%= t('job.shared.update') %></h2>
  <%= simple_form_for @job do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>
