<div id="clearance" class="sign-up">
  <br /><br />
  <div class="card">
    <div class="container">
      <br />
      <h2><%= t('.title') %></h2>
      <h3><%= t('layouts.application.dream_job') %></h3>
      <%= simple_form_for @user do |f| %>
          <%= render 'form', f: f %>
      <% end %>
    </div>
  </div>
</div>
