.simple_form fieldset.form-group {
  border: none;
}

.simple_form div.form-group.date {
  display: flex;
  justify-content: center;
}

.simple_form div.form-check {
  margin-left: 10px;
  display: inline;
}

.simple_form div.input {
  margin: 6px;
}

.simple_form div.d-flex.flex-row {
  margin: auto;
}

.simple_form div.d-flex.flex-row.justify-content-between.align-items-center{
  margin-left: 0;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  background-color: $outrageousorange;
  color: $white;
  width: 15rem;
  height: 4rem;
  border-radius: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  margin-left: 5.5rem;
  font-size: small;
}

.simple_form div.boolean label, .simple_form label.collection_radio_buttons {
  text-align: left;
  width: 25px;
  height: 10px;
  display: inline;
}
