@import 'variable.scss';

.actions {
  width: 335px;
  a {
    text-decoration: underline;
    min-width: 3.5em;
    padding: 1px 2px;
    margin: 2px 5px;
    font-size: 1.0em;
  }
}

.back-link {
  font-size: 0.8em;
  margin-bottom: 1em;
  text-decoration: underline;
}

.form-buttons {
  text-align: center;
}

.index {
  table {
    clear: both;
    width: 100%;
    tr th { text-align: center}
    tr td { border: 1px solid $gray40; text-align: center}
  }
}

.section + .section {
  padding-top: 0.5em;
  margin-top: 0.5em;
  border-top: 1px dotted $gray40;
}


.field_with_errors {
  label { color: $darkred; }
  input { border: 2px solid $red; }
}

.alert.alert-danger {
  text-align: center;
  color: $darkred;
}

.error_notification {
  text-align: center;
  margin-bottom: 10px;
}
