/*
 *= require_tree .
 *= require_self
 */
.simple_form label {
  display: inline-block;
  width: 875px;
  text-align: right;
  margin: 10px;

}
.simple_form fieldset.form-group {
  border: none;
  margin-left: 800px;
}
.simple_form div.form-group.date {
  display: inline;
}
.simple_form div.form-check {
  margin-left: 10px;
  display: inline;
}
.simple_form div.input {
  margin-bottom: 10px;
}
.simple_form div.d-flex.flex-row {
  margin-top: -26px;
  margin-left: 895px;
  margin-bottom: 10px;
}
.simple_form div.boolean, .simple_form input[type='submit'] {

  margin-top: 30px;
  margin-left: 875px;
}
.simple_form div.boolean label, .simple_form label.collection_radio_buttons {
  text-align: left;
  width: 25px;
  height: 10px;
  display: inline;
}
.simple_form .error {
  clear: right;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}
.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}
