$red: #FF0000;
$white: #FFFFFF;
$black: #000000;
$bunker: #2E2F30;
$cornflowerblue: #6495ED;
$gray: #808080;
$teal: #008080;
$tomato: #ff6347;
$whitesmoke1: #f5f5f5;
$whitesmoke2: #EFEFEF;
$darkred: #8B0000;
$silver: #C0C0C0;
$crimson: #DC143C;
$darkgray: #666666;
$outrageousorange: #FF5E1F;
$light-gray: lighten($silver, 20);
$hexgray1: lighten($silver, 30);
$hexgray2: lighten($silver, 10);
